
<div class="minion-form-box">
  <%= form_tag '/send_minions' do %>
    <div class="form-group">
      <%= label_tag(:name, "Qual o seu nome?") %><br>
      <%= text_field_tag(:name) %>
      <%# <label for="name">Qual o seu nome?</label>
      <input type="text" class="form-control" id="name"> %>
    </div>
    <div class="form-group">
      <%= label_tag(:email, "Informe um email de contato: ") %><br>
      <%= email_field_tag(:email) %>
      <%# <label for="email">Informe um email de contato:</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp"> %>
      <%# <small id="email" class="form-text text-muted"></small> %>
    </div>
    <div class="form-group">
      <%= label_tag(:minions_qtd, "Quantos Minions?") %><br>
      <%= number_field_tag(:minions_qtd) %>
      <%# <label class="minions_qtd" for="exampleCheck1">Quantos Minions?</label>
      <input type="number" class="form-check-input" id="minions_qtd"> %>
    </div>
    <%= submit_tag "submit",:value => "Pedir!", :class => "btn btn-primary", onclick: "confirm_success()"%>
  <%end%>
</div>

